p{
    font-family: Roboto, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}
.root-div{
    display: inline-block;
    vertical-align: top;
    width: 350px;
}
.video-container{
    width: 350px;
    margin-bottom: 12px;
}
.video-template{
    width: 350px;
    border-radius: 10px;
}
.video-description-container{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-container{
    /* display: inline-block; */
    vertical-align: top;
    /* width: 40px; */
}
.channel-profile{
    width: 40px;
    border-radius: 50px;
}
/* .description-container{ */
    /* display: inline-block; */
    /* width: 306px; */
    
/* } */
.video-title {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.channel-name{
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;

}
.video-stats{
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
}