.topbar{
    display: flex;
    height: 60px;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 100;
    
}


.left{
    display: flex;
    width: 160px;
    align-items: center;
    
}

.hamburger{
    height: 24px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 5px;
}

.youtube-logo{
    height: 20px;
    padding-bottom: 5px;
}


.middle{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin-right: 20px;
    margin-left: 50px;
}
.search-bar{
    flex: 1;
    height: 35px;
    padding-left: 20px;
    /* outline: inset; */
    border: 1px solid rgba(128, 128, 128, 0.489);
    border-radius: 50px  0px 0px 50px;
    border-right: none;
    box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
    width: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* .search-icon1{
    height: 40px;
    background-color: white;
} */
.search-icon2{
    height: 25px;
    margin-top: 4px;
}
.search-btn{
    height: 39px;
    width: 70px;
    border-radius: 0px 50px 50px 0px;
    background-color: rgba(238, 230, 230, 0.258);
    border: 1px solid rgba(128, 128, 128, 0.489);
    margin-left: -1px;
    position: relative;
}
.tooltip{
    position: absolute;
    bottom: -50px;
    right: 5px;
    background-color: rgba(128, 128, 128, 0.985);
    color: white;
    padding: 8px 6px 8px 6px;
    border-radius: 3px;
    font-family: Roboto, Arial;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}
.voice-search-btn{
    height: 40px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.162);
    border: none;
    margin-left: 20px;
}
.voice-search-icon{
    height: 30px;
}

.right{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 28px;
    margin-bottom: 4px;
    flex-shrink: 0;
}
.create-video-icon{
    height: 38px;

}
.profile-icon{
    height: 32px;
    border-radius: 50%;
}

.notification-icon{
    height: 24px;
}
.notification-btn{
    position: relative;
    margin-top: 3px;
    margin-right: 10px;
}
.notification-count{
    position: absolute;
    background-color: rgb(183, 14, 14);
    padding: 1px 5px 1px 5px;
    color: white;
    border-radius: 50%;
    font-family: Roboto, Arial;
    font-size: 12px;
    top: -3px;
    right: -4px;
}
.search-btn:hover .tooltip{
    opacity: 1;
}